<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Gas Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Gas Map</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
  <div #map id="map"></div>
</ion-toolbar>
  <button id = "call"> call delivery guy</button>
  <div align = "center">
  or
  <button id = "message"> text delivery guy</button>
  <p>here is your ticket:</p></div>
  <div class="ticket">

  </div>
</ion-content>
